/*
!/.github/
!/.gitignore
!/.gitpod.Dockerfile
!/.gitpod.yaml
!/AGENTS.md
!/CLAUDE.md
!/CONTRIBUTING.md
!/COPYING
!/DESIGN.md
!/GPG-EN.md
!/GPG-ID.md
!/HACKING.md
!/Makefile
!/README.md
!/VERSION
!/cmd/
!/debian/
!/docs/
!/e-files
!/e2e/
!/go.mod
!/go.sum
!/install-cli.sh
!/install.sh
!/internal/
!/pkg/
!/utils/
