.env
bin
/chief
/repo
builder
latest
tmp
target
irgsh-go
builder/utils.go
repo/utils.go
cli/utils.go
coverage.txt
tmp
debian-build
obj-x86_64-linux-gnu
cli
debian/irgsh/usr/share/irgsh/reprepro-template/conf/distributions.orig
debian/irgsh/usr/share/irgsh/reprepro-template/conf/options.orig
debian/irgsh/usr/share/irgsh/reprepro-template/conf/updates.orig
utils/reprepro-template/conf/distributions.orig
utils/reprepro-template/conf/options.orig
utils/reprepro-template/conf/updates.orig
notes