services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:${PROJECT_PATH:-/app}
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: ${PROJECT_PATH:-/app}
    command: sh -c "service redis-server start && tail -f /dev/null"
    environment:
      - DEV=1
      - IRGSH_CONFIG_PATH=${PROJECT_PATH:-/app}/utils/config.docker.yml
    privileged: true
    ports:
      - "18080:8080"
      - "18081:8081"
      - "18082:8082"
