services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /app
    command: tail -f /dev/null
    depends_on:
      - redis
    environment:
      - DEV=1
      - IRGSH_CONFIG_PATH=/app/utils/config.docker.yml
    privileged: true
    ports:
      - "8080:8080"
      - "8081:8081"
      - "8082:8082"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
