[Unit]
Description=irgsh-iso - IRGSH ISO Builder
After=network.target redis-server.service irgsh-chief.service
Wants=redis-server.service

[Service]
Type=simple
User=irgsh
Group=irgsh
WorkingDirectory=/var/lib/irgsh
ExecStart=/usr/bin/irgsh-iso
Restart=on-failure
RestartSec=10s
StandardOutput=append:/var/log/irgsh/iso.log
StandardError=append:/var/log/irgsh/iso.log

[Install]
WantedBy=multi-user.target
